.tableTraces {
  margin-top: 2rem;
  max-height: calc(100vh - 364px);
  overflow: auto;

  table {
    width: 100%;
    border-spacing: 0;

    th {
      color: var(--gray-300);
      font-weight: 400;
      padding: 1rem 2rem;
      text-align: left;
      line-height: 1.5rem;
      margin: 10px;
      background: var(--gray-850);

      position: sticky;
      top: 0;
      white-space: nowrap;
    }
    
    tbody {
      background-color: var(--gray-900);

      tr {
        transition: background-color 0.2s;

        &:nth-child(even) {
          background-color: var(--gray-800);
        }

        &:hover {
          background-color: var(--gray-300);
        }

        td {
          padding: 1rem 2rem;
          border: 0;
          text-align: center;
          color: var(--gray-100);
          white-space: nowrap;

          transition: color 0.2s;

          &:hover {
            color: var(--white);
          }
        }  
      }
    }
  }
} 

.sectionResults {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background: var(--gray-850);

  display: flex;
  align-items: center;
  justify-content: space-between;
}