.tableTraces {
  margin-top: 4rem;

  table {
    width: 100%;
    border-spacing: 0 0.5rem;
  
    th {
      color: var(--gray-300);
      font-weight: 400;
      padding: 1rem 2rem;
      text-align: left;
      line-height: 1.5rem;
    }
  
    td {
      padding: 1rem 2rem;
      border: 0;
      background: var(--gray-800);
      color: var(--gray-300);
      border-radius: 0.25rem;
    }
  }
} 